.login-container {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  color: #9ea3c1;
  height: 100vh;
}

.css-1ky6zaq-MuiFormControl-root-MuiTextField-root,
.css-1pjy560-MuiFormControl-root-MuiTextField-root {
  border-radius: 40px !important;
}

.login-form {
  align-items: center;
  justify-content: center;
  width: 400px;
  box-sizing: border-box;
  padding: 10px;
}

.login__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding-left: 10px;
  border-radius: 20px;
  margin-top: 10px;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
}

.login__input>input {
  border: none;
  /* background-color: var(--twitter-background); */

}


#particles-in-login canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}