.feed {
  flex: 1;
  flex-direction: column;
  min-width: fit-content;
  overflow-y: scroll;
  width: 100%;
  display: grid;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
  /* display: none; */
}

.highlight-visible {
  border: 3px solid red;
  border-radius: 8px;
  transition: border 0.2s ease-in-out;
}


.visible-post {
  outline: 2px solid limegreen;
  border-radius: 8px;
  transition: outline 0.3s ease-in-out;
}

.visible-post-next {
  outline: 2px solid rgb(205, 156, 50);
  border-radius: 8px;
  transition: outline 0.3s ease-in-out;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feed {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: rgb(6, 2, 40);
  z-index: 100;
  border-bottom: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed__header>h2 {
  font-size: 20px;
  font-weight: 800;
}