.feed-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 99;
    width: 100%;
    padding: 10px 0px;
}

.hide-feed-footer-holder {
    display: none;
}

.show-feed-footer-holder {
    display: none;
}

.feed-title {
    font-size: 24px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.feed-footer-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    bottom: 0;
    z-index: 99;
    width: 100%;
    padding: 0px 10px;
    z-index: 1200;
}

.timestamp {
    /* background: #ccc; */
    color: #FFF;
    font-size: 17px;
    background: transparent;
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50%;

}