.feed-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 99;
    width: 100%;
    padding: 0px 0px
}

.feed-title {
    font-size: 24px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.feed-footer-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    flex-direction: column;
    bottom: 0;
    z-index: 99;
    width: 100%;
    padding: 0px 10px
}

.timestamp {
    border-radius: 4px;
    background: #ccc;
    padding: 10px;
    color: #FFF;
    font-size: 14px;
    /* height: 10px;
    width: 20px; */
    /* background: rgba(14, 14, 14, 0.967); */

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;

}