.post-info {

    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    flex-direction: column;
    z-index: 100;
    max-width: 100%;
    text-align: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}