.sidebarOption {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 10px;
  height: 50px;
}

.sidebarOption_center {
  justify-content: center;
}

.sidebarOption > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebarOption > h4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
  gap: 10px;
  font-size: 18px;
  margin-right: 20px;
}

.sidebarOption_icon_text {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
