.market-place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.market-place-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.market-place-header>h2 {
    font-size: 20px;
    font-weight: 800;
}

.market_place_search {
    flex: 0.25;
    border-left: 1px solid var(--twitter-background);
}

.market-place-input {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    justify-content: flex-end;
    box-sizing: border-box;
}

.market-place-input>input {
    border: none;
}

.market-place-searchIcon {
    color: gray;
}

.market-place-widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}

.market-place-widgetContainer>h2 {
    font-size: 18px;
    font-weight: 800;
}

.market-result-item {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

/* @media screen and (min-width:1200px) {
  .widgets {
    display: block;
  }
} */