.market__place {
    flex: 1;
    flex-direction: column;
    min-width: fit-content;
    overflow-y: scroll;
    /* display: flex;
  justify-content: center;
  align-items: center; */
    width: 100%;
    box-sizing: border-box;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.market__place::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.market__place {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.market__place__header {
    position: sticky;
    top: 0;
    /* background-color: white; */
    z-index: 100;
    /* border-bottom: 1px solid var(--twitter-background); */
    /* padding: 15px 20px; */
    z-index: 1400;
}

.market__place__header>h2 {
    font-size: 20px;
    font-weight: 800;
}

.market_place_search {
    flex: 0.25;
    border-left: 1px solid var(--twitter-background);
}

.market_place__input {
    display: flex;
    align-items: center;
    /* background-color: var(--twitter-background); */
    padding-left: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    justify-content: flex-end;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

.market_place__input>input {
    border: none;
    background: red;

    /* background-color: var(--twitter-background); */
}

.market_place__searchIcon {
    color: gray;
}

.market_place__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}

.market_place__widgetContainer>h2 {
    font-size: 18px;
    font-weight: 800;
}

.market-result-item {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

/* @media screen and (min-width:1200px) {
  .widgets {
    display: block;
  }
} */