.top__header {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding-left: 10px;
    border-radius: 20px;
    margin-left: 20px;
    height: 50px;
}


.css-1ky6zaq-MuiFormControl-root-MuiTextField-root,
.css-1pjy560-MuiFormControl-root-MuiTextField-root {
    border-radius: 40px !important;
}


.top__header__searchIcon {
    color: gray;

}


.top__header>input {
    border: none;
    /* background-color: var(--twitter-background); */

}