.sidebar {
  display: grid;
  flex: 0.25;
  min-width: 100px;
  padding-top: 20px;
  gap: 0rem;
  padding-left: 20px;
  padding-right: 20px;
  align-items: flex-start;
  max-height: 600px;
  /* background:red */
}

.logo {
  padding-left: 20px;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}

.sidebar__tweet__outlined {
  /* background-color: var(--twitter-color) !important; */
  border: 1px solid var(--twitter-color) !important;
  /* color: white !important; */
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
}

.sidebar__tweet__contained {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
}


@media screen and (max-width:600px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}