body {
  --twitter-color: #088a6a;
  --twitter-background: #e6ecf0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);

}


.__darkmode {
  background-color: #1c2035;
  position: relative;
  background: rgba(14, 14, 14, 0.967);
  backdrop-filter: blur(100px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(187, 120, 120, 0.3);
  border-radius: 12px;
  /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); */
  color: #FFF;
}


.mobile_bottom_padding {
  border-bottom: 56px solid rgba(255, 255, 255, 0.2);
  ;
  /* background: red; */
  /* border: 1px solid red; */
}

.bottom-bar-container {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.bottom-bar-container.show {
  opacity: 1;
  transform: translateY(0);
}



.glass-card {}



.glass-effect {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 20px;
}


.private-route {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  border-left: 1px solid var(--twitter-background);
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  /* margin-bottom: 100px; */
}

.app {
  display: flex;
  /* height: 100vh; */
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  height: 100vh;

  /* margin-bottom: 56px !important; */
}

@media screen and (max-width: 1000px) {

  /* .sidebar, */
  .widgets {
    display: none;
  }

  .dark-mode,
  .app {
    padding: 0;
  }

  .private-route {
    flex: 1;
  }
}